.v-menu__content{
min-width: 200px !important;

}

.v-window-item{
  height: 100%;
}
.v-window{
  height: 100%;
}

.hourglasses {
  align-items: center;
  height: 100%;
}
#hourglass {
  margin-right: 2rem;
}


