// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'HarryP';
$font-size-root: 1.3rem;
$avatar-border-radius: 0%;

$label-font-size: 30px;
$input-font-size: 20px;
